* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.navbar {
   height: 100%;
   width: 22%;
   float: left;
   background-color: darkgray;
}
.chatroomname {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0px;
}
.chatcontent {
  height: 100%;
  width: 85%;
  margin-left: 170px;
  padding-left: 25px;
  background-color: black;
  color: white;
}

/*Messages*/

.messages {
    position: fixed;
    top: 22px;
    left: 22%;
    width: 80%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 1;
    overflow: scroll;
}

.messages-body {
    padding-right: 10px;
}

.messages-body .username {
    font-weight: bold;
}

.messages-body .timestamp {
    float: right;
    padding-right: 100px;
}

.messages-body .username .timestamp {
    display: inline-block;
}

.messages-body .user-message {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.message-field {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
}

.message-box {
    width: 800px;
}
