
<!DOCTYPE html>
<section ng-controller="HomeCtrl as home">

    <div class="navbar col-sm-3">
        <h3>{{home.title}}</h3>

        <br/>
        <div ng-controller='ModalCtrl as modal'>
              <button type="button" class="btn btn-default" ng-click="modal.open()">New room</button>
          </div>
        <!--List chat rooms-->
        <h5 ng-click="home.setRoom(room)" ng-repeat="room in home.room">{{room.$value}}</h5>

        <br/>

    </div>

<div class='msg-container'>
    <h3>{{ currentRoom.$value }}</h3>
    <table class="table">
        <tr class="row" ng-repeat="message in messages">

            <td class="username">
                {{ message.username }}:
                <br/> {{ message.content }}
            </td>
            <td class="sentAt">{{ message.sentAt | date: "shortTime"}}</td>
            <!--Hasn't been defined yet-->
        </tr>

    </table>
</div>

<div class='msg-send'>
    <div>
        <form name="message" action="">
            <input name="usermsg" type="text" id="usermsg" size="50" />
            <button class="btn-submit" type="button" id="submitmsg" ng-click="home.sendMessage()">send message</button>


            <!--need some kind of ng-click here to communicate with the username-->
        </form>
    </div>
</div>
</body>
