<section class="modal-box">
     <div class="modal-header">
         <h3 class="modal-title">Create new room</h3>
     </div>
     <div class="modal-body">
       Enter a room name:
    <br/>
    <form ng-submit="modal.ok()">
      <div class="input-group animated">
        <input type="text" class="form-control finderBar" ng-model="modal.name" title="name" placeholder="Your room name here" autofocus>
        <h4>{{ modal.name }}</h4>
      </div>
    </form>

     <div class="modal-footer">
         <button class="btn-cancel" type="button" ng-click="modalInstance.cancel()">Cancel</button>
         <button class="btn-submit" type="button" ng-click="modalInstance.ok()">Create</button>

     </div>
</section>
